#root{
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  margin:0px;
}
.header {
  display: flex;
  background-color: rgb(222, 21, 21);
  color: white;
  position: relative;
  /* border: 2px solid red; */
  justify-content: space-between;
}

.navicon {
  /* padding: 20px; */
  display: flex;
  gap: 30px;
   


}

.navicon img {
  /* display: flex; */

  width: 50px;
}

.navele>ul>li>a{
  color: white;
  text-decoration: none;
}
.navele>ul{
  display: flex;
  
  list-style: none;
  gap: 20px;
  padding-right: 40px;

}

.restrocard {
  margin: 30px;
  background-color: rgb(241, 250, 114);
  /* border: 2px solid blue; */
  transition: 0.2s ;
  /* transition-duration: 1s; */
  width: 200px;
}

.restrocard:hover {
  /* border: 2px solid rgb(255, 33, 33); */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.p20 {
  padding: 20px;
}

.p5 {
  padding: 5px;
}

.food-img {
  height: 191px;
  width:191px;
  transition: 0.2s ;
}
.food-img:hover{
  border-radius: 15px;
}

.food-rtp {
  display: flex;
  justify-content: space-around;


}
.body{
  display: block;
  /* margin-top: 60px; */
}
.cards {
  cursor: pointer;

  /* margin-top: 40px; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(5, 1fr); */
}
.filter-btn{
  margin: 40px 0px 10px 10px;
  cursor: pointer;

  
}
.shimmer-cards{
  display: flex;
  margin: 40px;
  flex-wrap: wrap;
}
.shimmer-card{
  background-color: #f0f0f0;
  height: 400px;
  cursor: pointer;
  width: 215px;
  margin: 30px;
}
.login{
  cursor: pointer;
}
.search{
  margin: 10px;
  
}
.user{
  border: 2px solid black;
}